.header {
  background-color: #EBE3CB;
  height: 300px;
}

.header-img-box {
  padding-top: 25px;
}

.header h1 {
  color: #46483C;
  padding-top: 40px;
}

h1 {
  font-size: 5.9vw;
}

h2 {
  font-size: 3.0vh;
}

p {
  font-size: 2vmin;
}

.header-img-box .header-img {
  height: 100px;
  width: 100px;
}

.under-header {
  background-color: #A0AA8F;
}

.under-header:hover {
  background-color: #F26101;
}

.text-for-desktop {
  background-color: #A0AA8F;
}

.text-for-desktop:hover {
  background-color: #F26101;
}

.img-post {
  float:left;
}

@media (max-width: 768px) {
  .img-post {
    float:none;
  }

}

@media (max-width: 768px) {
  .text-for-desktop {
    display: none;
  }

}

.images {
  background-color: #EBE3CB;
}

.images img {
  height: 200px;
  width: 33%%;
}

.contatct-section {
  background-color: #EBE3CB;
}

h4 a {
  text-decoration: none;
  color: #F26101;
}

h4 a:hover {
  color: blue;
}

footer {
  background-color: #46483C;
}

footer h4 {
  color: #EBE3CB;
}
